body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    padding: 10px;
}

.navbar img {
    width: 270px;
    height: auto;
}

.content {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
}

.content-left {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.content-right {
    flex: 1;
    text-align: right;
    padding: 20px;
    margin-right: 20%;
}

.content-right img {
    width: 200px;
    height: auto;
}